{% extends "base_patient.html" %}
{% load static %}
{% block content %}
    {% for object in consultations %}
        <div class='mb-3'>
            <div class="container">
                <p class='p-date mt-3 mb-1'>{{object.date}}</p>
                <p class='border-bottom p-1 mb-1'>Température : {{object.temperature}} °C</p>
                <p class='border-bottom p-1 mb-1'>Saturation oxygéne : {{object.sat_oxyg}} %</p>
                <p class='border-bottom p-1 mb-1'>Fréquence respiratoire : {{object.freq_resp}} %</p>
                <p class='border-bottom p-1 mb-1'>Description : {{object.description}}</p>
            </div>
        </div>
    {% endfor %}
{% endblock content %}