{% extends "base_receptionniste.html" %}
{% load static %}
{% block content %}
<ul class="nav nav-pills mb-3" id="pills-tab">
    <li class="nav-item">
        <button class="nav-link active btn-sm" data-bs-toggle="pill" data-bs-target="#pills-ajout"  aria-controls="pills-ajout">Enregistrement</button>
    </li>
    <li class="nav-item">
        <button class="nav-link btn-sm" data-bs-toggle="pill" data-bs-target="#pills-liste" aria-controls="pills-liste">Liste</button>
    </li>
    <li class="nav-item">
        <button class="nav-link btn-sm" data-bs-toggle="pill" data-bs-target="#pills-transfert" aria-controls="pills-transfert">Transfert</button>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active" id="pills-ajout">
        {% if messages %}
        {% for message in messages %}
        <div class=" mt-4 alert {{message.tags}} text-center">{{message}}</div>
        {% endfor %}
        {% endif %}
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-2">
                <input type="text" class='form-control' name='nom' placeholder='Nom'  value='' required>
            </div>
            <div class="mb-2">
                <input type="text" class='form-control' name='postnom' placeholder='Postnom' required>
            </div>
            <div class="mb-2">
                <input type="text" class='form-control' name='prenom' placeholder='Prénom' required>
            </div>
            <div class="mb-2">
                <input type="number" class='form-control' name="age" placeholder="age" max='120' min='1' required>
            </div>
            <div class="mb-2">
                <input type="email" class='form-control' name='email' placeholder='Compte Gmail'>
            </div>
            <div class="mb-2">
                <input type="tel" class='form-control' name='telephone' placeholder='Téléphone' pattern="^0[0-9]{9}" maxlength='10'>
            </div>
            <div class="mb-2">
                <label for="commune" class='form-label'>Commune</label>
                <select class='form-select' name="commune" id="commune" required>
                    {% for commune in communes %}
                        <option value="{{commune.id}}">{{commune.nom | capfirst}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-2">
                <label for="personnel" class='form-label'>Personnel médical</label>
                <select name="personnel" id="personnel" class='form-select' required>
                    {% for personnel in personnels %}
                        <option value="{{personnel.id_user.id}}">{{personnel.id_user.username | capfirst}} {{personnel.id_user.first_name}} {{personnel.id_user.last_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="photo" class='form-label'>Photo</label>
                <input type="file" class='form-control' name='photo' id='photo' accept=".jpg, .png, .svg, .gif, .apng, .avif, .jpeg, .webp" required multiple>
            </div>
            <button class='btn btn-primary' type='submit'>Enregistrer</button>
        </form>
    </div>
    <div class="tab-pane fade" id="pills-liste" role="tabpanel">
        <form action="">
            <div class="mb-4 d-flex">
                <input type="search" name='recherche' class='form-control mx-3' placeholder='Tapez le nom du patient' required>
                <button class='btn btn-primary mx-2' type='submit'>Rechercher</button>
            </div>
        </form>
        <div class="container">
            <div class="table-responsive">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Photo</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Postnom</th>
                            <th scope="col">Prénom</th>
                            <th scope="col"colspan="2">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for patient in patients %}
                        <tr>
                            <td><img src="{{patient.id_user.photo.url}}" width="35" height="35" class="rounded-circle"></td>
                            <td>{{patient.id_user.username | capfirst}}</td>
                            <td>{{patient.id_user.first_name}}</td>
                            <td>{{patient.id_user.last_name}}</td>
                            <td><a href="{% url 'update_patient' patient.id_user.id %}" class='btn btn-primary btn-sm'>Modifier</a></td>
                            <td><a href="{% url 'delete_patient'  patient.id_user.id %}" class='btn btn-danger btn-sm'>Supprimer</a></td>
                        </tr>   
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="pills-transfert">
       <div class="container">
            <div class="table-responsive">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Photo</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Postnom</th>
                            <th scope="col">Prénom</th>
                            <th scope="col"colspan="2">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for patient in transfert %}
                        <tr>
                            <td><img src="{{patient.id_user.photo.url}}" width="35" height="35" class="rounded-circle"></td>
                            <td>{{patient.id_user.username | capfirst}}</td>
                            <td>{{patient.id_user.first_name}}</td>
                            <td>{{patient.id_user.last_name}}</td>
                            <td><a href="{% url 'update_patient' patient.id_user.id %}" class='btn btn-primary btn-sm'>Modifier</a></td>
                            <td><a href="{% url 'delete_patient'  patient.id_user.id %}" class='btn btn-danger btn-sm'>Supprimer</a></td>
                        </tr>   
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}