{% extends "base_personnel.html" %}
{% load static %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class=" mt-4 alert {{message.tags}} text-center">{{message}}</div>
{% endfor %}
{% endif %}
<form action="" method="post">
  {% csrf_token %}
  <div class="mb-2">
    <label for="patient" class='form-label'>Patient</label>
      <select name="patient" id="patient" class='form-control' required>
          {% for patient in patients %}
                <option value="{{patient.id_user.id}}">{{patient.id_user.username | capfirst}} {{patient.id_user.first_name}} {{patient.id_user.last_name}}</option>
          {% endfor %}
      </select>
  </div>
  <div class="mb-3">
    <input type="text" class='form-control' name='motif' placeholder='Motif' required>
  </div>
  <div class="mb-3">
    <label for="dateent" class='form-label'>Date d'entrée</label>
    <input type="date" class='form-control' name='dateent' id='dateent' required>
  </div>
  <div class="mb-3">
    <label for="datesort" class='form-label'>Date de sortie</label>
    <input type="date" class='form-control' name='datesort' id='datesort' required>
  </div>
  <button class='btn btn-primary' type='submit'>Enregistrer</button>
</form>
<div class="table-responsive">
  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th scope="col">Photo</th>
        <th scope="col">Nom</th>
        <th scope="col">Postnom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Date entrée</th>
        <th scope="col">Date sortie</th>
        <th scope="col"colspan = "3">Actions</th>
      </tr>
    </thead>
    <tbody>
        {% for object in hospitalisation %}
          <tr>
            <td><img src="{{object.id_patient.id_user.photo.url}}" width="30" height="30" class="rounded-circle"></td>
            <td>{{object.id_patient.id_user.username | capfirst}}</td>
            <td>{{object.id_patient.id_user.first_name}}</td>
            <td>{{object.id_patient.id_user.last_name}}</td>
            <td>{{object.date_ent}}</td>
            <td>{{object.date_sort}}</td>
            <td><a href="{% url 'update_hosp' object.id %}" class='btn btn-primary btn-sm'>Modifier</a></td>
            <td><a href="{% url 'terminer_hosp' object.id %}" class='btn btn-danger btn-sm'>Terminer</a></td>
          </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}