{% extends "base_personnel.html" %}
{% load static %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class=" mt-4 alert {{message.tags}} text-center">{{message}}</div>
{% endfor %}
{% endif %}
<form action="" method="post" class='mb-3 mt-3'>
    {% csrf_token %}
    <div class="mb-2">
        <label for="patient" class='form-label'>Patient</label>
        <select name="patient" id="patient" class='form-control' required>
            {% for patient in patients %}
                <option value="{{patient.id_user.id}}">{{patient.id_user.username | capfirst}} {{patient.id_user.first_name}} {{patient.id_user.last_name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-2">
        <input type="text" class='form-control' name='medicament' placeholder='Médicament' required>
    </div>
    <div class="mb-2">
        <input type="number" class='form-control' name='quantite' placeholder='Quantité' required>
    </div>
    <div class="mb-3">
        <input type="text" class='form-control' name='posologie' placeholder='Posologie' required>
    </div>
    <button class='btn btn-primary' type='submit'>Enregistrer</button>
</form>
{% endblock content %}