{% extends "base_admin.html" %}
{% load static %}
{% block content %}
<div class="space-img mt-4 d-flex align-items-end">
    <div class="container">
        <div class="row case">
            <div class="col-4">
                <img src="{{user.photo.url}}" class='rounded-circle img-compte' width="80" height="80">
            </div>
            <div class="col text">
               <p class='mb-0'>{{user.username | capfirst}} {{user.first_name}}</p>
               <p class='sous-name'>Administrateur</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <p class='border-bottom p-1 mb-1'>{{user.username | capfirst}}</p>
    <p class='border-bottom p-1 mb-1'>{{user.first_name}}</p>
    <p class='border-bottom p-1 mb-1'>{{user.last_name}}</p>
    <p class='border-bottom p-1 mb-1'>{{user.email}}</p>
    <p class='border-bottom p-1 mb-4'>Mot de passe : *****</p>
    <a href="{% url 'update_compte_admin' user.id %}" class='btn btn-primary btn-sm float-end'>Mettre à jour le profil</a>
</div>
{% endblock content %}