{% extends "base_admin.html" %}
{% load static %}
{% block content %}
<form action="" method="post" class='mt-3' enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-2">
        <input type="text" class='form-control' name='nom' placeholder='Nom' value='{{user.username}}' required>
    </div>
    <div class="mb-2">
        <input type="text" class='form-control' name='postnom' placeholder='Postnom' value='{{user.first_name}}' required>
    </div>
    <div class="mb-2">
        <input type="text" class='form-control' name='prenom' placeholder='Prénom' value='{{user.last_name}}' required>
    </div>
    <div class="mb-3">
        <label for="" class='form-label'>Hopital</label>
        <select name="hopital" class='form-select'>
            {% for object in hopital %}
                <option value="{{object.id}}">{{object.nom}}</option>
            {% endfor %}
        </select>
    </div>
    <button class='btn btn-primary' type='submit'>Sauvegarder</button>
</form>
{% endblock content %}
    